<%- include('../layout/userHeader.ejs')%>

<!-- <div style="background: #eeeeee; height: 60vh;">
    <div class="container pb-5" style="padding-top: 30px;">
        <h1>Order placed successFully</h1>
        <div>
            <h3><a href="/orders">View Order Details</a></h3>
        </div>
    </div>
</div> -->



<div class="container mx-auto">
    <div class="text-center mb-5 mt-4 d-flex flex-column justify-content-center">
      <h4>Your Order has been placed successfully <i class="fa fa-check"></i></h4>
      
      <div class="text-center my-4">
        <span class="navbar-brand text-center" >
          <img
            src="/img/logos.png"
            alt="Logo"
            width="80"
            height="80"
            class="d-inline-block align-text-top"
          />
          <h6 class="text-center mt-4">
            Thank you choosing <span class="brand-name">PETCOMMERCE</span>
          </h6>
        </span>
      </div>
    </div>
    <div class="text-center mb-4 fw-bold">
      <a
        href="/orders"
        class="text-dark btn btn-secondary btn-sm text-white py-2 px-3 mx-2"
        >View order details</a
      >
      <a href="/" class="text-dark btn btn-dark btn-sm text-white py-2 px-3"
        >Continue shopping <i class="fa fa-arrow-right"></i
      ></a>
    </div>
    <div class="text-center mt-5">
      <span style="text-transform: none"
        >For any queries, contact us on
        <u style="text-transform: none">petcommercepet@gmail.com</u></span
      >
    </div>
  </div>




<%- include('../layout/userFooter.ejs')%>